@import "styles/variables";

.marketplaces {
  display: none;
  width: 220px;
  justify-content: space-between;
  align-items: center;
  height: auto;
  z-index: 1000!important;

  @media (min-width: $media-min-screen) {
    display: flex;
  }
}

.marketplace {
  cursor: pointer;

  &:hover {
    img {
      filter: none;
    }
  }

  img {
    filter: drop-shadow(0px 8px 1.5px rgba(0, 0, 0, 0.9));
  }

  &:nth-child(1) {
    img {
      width: 65px;
      height: auto;
    }
  }

  &:nth-child(2) {
    img {
      width: 51px;
      height: auto;
    }
  }

  &:nth-child(3) {
    img {
      width: 56px;
      height: auto;
    }
  }
}