@import "styles/variables";

.info {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    position: absolute;
    //align-items: center;
    top: 62%;
    left: 27%;

    @media (min-width: $media-min-screen) {
        left: 21%;
    }

    .title {
        font-size: 20px;
        color: #FF0000;
        text-shadow: 0 0 10px #000;

        @media (min-width: $media-min-screen) {
            font-size: 33px;
        }
    }

    .infoTime {
        font-size: 20px;
        display: flex;
        flex-flow: row nowrap;
        margin-top: 5px;

        @media (min-width: $media-min-screen) {
            flex-flow: column nowrap;
            font-size: 30px;
            margin-top: 0;
        }

        .percent {
            margin-left: 8px;

            @media (min-width: $media-min-screen) {
                margin-left: 0;
            }
        }
    }

    .percent {
        font-size: 20px;

        @media (min-width: $media-min-screen) {
            font-size: 58px;
            margin-top: -15px;
            margin-left: -30px;
        }
    }

    .price {
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 10px;

        @media (min-width: $media-min-screen) {
            font-size: 35px;
            margin-top: -15px;
        }

        .mark {
            font-size: 20px;
            color: #BB0000;

            @media (min-width: $media-min-screen) {
                font-size: 45px;
                margin-left: 10px;
            }
        }
    }
}