.popup {
    width: 824px;
    height: 460px;
}

.preview {
    display: flex;
    align-items: center;
    //justify-content: center;
    background-color: #000000;
    width: 50%;
    flex-direction: column;

    .logo {
        margin-top: 65px;
        width: 200px;
        height: 200px;
    }

    .edition {
        margin-top: 40px;
        background-color: #EF617F;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        padding: 5px 8px;
        color: #000;
        -webkit-text-stroke: 1px black
    }

    .price {
        margin-top: 10px;
        font-size: 25px;
        text-transform: uppercase;
    }
}

.mint {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 26px 40px;
    align-items: center;

    .title {
        font-size: 39px;
        color: #EF617F;
    }

    .description {
        font-size: 16px;
        margin-top: 15px;
        color: rgba(255, 255, 255, 0.7);
    }

    .price {
        margin-top: 40px;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 0.8px;
    }

    .priceChange {
        text-transform: uppercase;
        margin-top: 15px;
        font-size: 13px;
        letter-spacing: 0.8px;

        .mark {
            font-size: 15px;
            color: #F20D0D;
        }
    }

    .titleInput {
        margin-top: 30px;
        font-size: 24px;
    }

    .choiceAmount {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .plus,
        .minus {
            cursor: pointer;
            width: 60px;
            height: 40px;
            border-radius: 99px;
            position: relative;
            border: 2px solid rgba(133, 133, 169, 0.3);
        }

        .plus {
            &:after,
            &:before {
                position: absolute;
                content: '';
                left: 50%;
                top: 50%;
                width: 16px;
                height: 2px;
                background-color: #EF617F;
            }

            &:after {
                transform: translate(-50%, -50%);
            }

            &:before {
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }


        .minus:after {
            position: absolute;
            content: '';
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 14px;
            height: 2px;
            background-color: #504B62;
        }

        .amountValue {
            font-size: 22px;
        }
    }

    .total {
        letter-spacing: 0.8px;
        text-transform: uppercase;
        font-size: 13px;
        margin-top: 20px;
    }

    .button {
        cursor: pointer;
        margin-top: 15px;
        width: 100%;
        background-color: #A10004;
        color: #fff;
        height: 40px;
        border: 2px solid #6C5151;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-size: 16px;
        transition: all .1s linear;
        font-family: 'Annie Use Your Telescope', cursive;

        &:hover {
            background-color: #FF0006;
        }


        &.inactive {
            cursor: default;
            background-color: #2E0607;
            color: #504B62;
            
            &:hover {
                background-color: #2E0607;
            }
        }
    }
}

.close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 40px;
    right: 40px;
    cursor: pointer;

    &:after,
    &:before {
        top: 50%;
        left: 50%;
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: #EF617F;
    }

    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
        transform: translate(-50%, -50%) rotate(135deg);
    }
}

.loadingBlock {
    margin: auto;
    font-size: 40px;
}