@import 'styles/variables';

.speedometer {
  width: 250px;
  height: 310px;
  position: relative;
  margin: 0 auto;
  z-index: 1;

  @media (min-width: $media-min-screen) {
    width: 520px;
    height: 600px;
    margin: -350px 0 0 0;
  }
}