@import 'styles/variables';

.speedometer {
  width: 250px;
  height: 310px;
  position: relative;
  margin: 0 auto;


  @media (min-width: $media-min-screen) {
    width: 520px;
    height: 600px;
    margin: -150px 0 0 0;
  }
}

.parts {
  width: 100%;
  height: 100%;
}


.arrow {
  position: absolute;
  transform-origin: 46% 88%;
  transition: transform .1s linear;
  transform: rotate(-130deg);
  top: 15%;
  left: 45%;
  width: 31px;

  @media (min-width: $media-min-screen) {
    width: auto;
    top: 19%;
    left: 40%;
  }
}

.part {
  position: absolute;
  //background: rgba(0, 44, 255, 0.2);
  width: 100%;
  height: 100%;

  .partBackground,
  .partBorder {
    @media (min-width: $media-min-screen) {
      width: auto !important;
    }
  }

  img {
    width: 100%;
  }
}

.part-0 {
  top: 61%;
  @media (min-width: $media-min-screen) {
    top: 60%;
  }

  .partBorder {
    width: 50px;
  }
}

.part-1 {
  top: 32%;

  @media (min-width: $media-min-screen) {
    top: 32.5%;
  }

  .partBackground {
    width: 120px;
    top: 3.5%;
    left: 1%;
  }

  .partBorder {
    width: 50px;
  }
}

.part-2 {
  top: 20%;
  left: 15%;

  @media (min-width: $media-min-screen) {
    top: 21%;
    left: 13.5%;
  }

  .partBackground {
    top: 3.5%;
    left: 4.3%;
    width: 75px;
  }

  .partBorder {
    width: 85px;
  }
}

.part-3 {
  top: 20%;
  left: 50%;

  @media (min-width: $media-min-screen) {
    top: 21%;
    left: 44.8%;
  }

  .partBackground {
    top: 3.6%;
    left: 0.3%;
    width: 75px;
  }

  .partBorder {
    width: 88px;
  }
}

.part-4 {
  top: 32.5%;
  left: 76.5%;

  @media (min-width: $media-min-screen) {
    top: 32.7%;
    left: 71%;
  }

  .partBackground {
    top: 3.1%;
    left: -24.4%;
    width: 114px;
  }

  .partBorder {
    width: 50px;
    left: 3.5%;
    @media (min-width: $media-min-screen) {
      width: auto;
      left: 0;
    }

  }
}

.elementPart {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
}

.partBorder {
  z-index: 2;
}

.partBackground {
  z-index: 1;
}

.valuesPercent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  span {
    font-size: 20px;
    position: absolute;

    @media (min-width: $media-min-screen) {
      font-size: 44px;
    }
  }

  .percent0 {
    top: 58%;
    left: 13%;

    @media (min-width: $media-min-screen) {
      top: 57%;
      left: 11%;
    }
  }

  .percent5 {
    top: 35%;
    left: 20%;

    @media (min-width: $media-min-screen) {
      top: 34%;
      left: 17%;
    }
  }

  .percent10 {
    top: 25%;
    left: 42%;

    @media (min-width: $media-min-screen) {
      top: 25%;
      left: 37.5%;
    }
  }

  .percent15 {
    top: 35%;
    left: 67%;

    @media (min-width: $media-min-screen) {
      top: 35%;
      left: 60%;
    }
  }

  .percent20 {
    top: 58%;
    left: 78%;

    @media (min-width: $media-min-screen) {
      top: 57%;
      left: 67%;
    }
  }

  .plusInfinity {
    top: 81%;
    left: -2%;

    @media (min-width: $media-min-screen) {
      top: 80%;
      left: -1%;
    }
  }

  .minusInfinity {
    top: 110%;
    left: 102%;

    @media (min-width: $media-min-screen) {
      top: 105%;
      left: 91%;
    }
  }
}

.info {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  position: absolute;
  //align-items: center;
  top: 62%;
  left: 27%;

  @media (min-width: $media-min-screen) {
    left: 21%;
  }

  .title {
    font-size: 20px;
    color: #FF0000;
    text-shadow: 0 0 10px #000;

    @media (min-width: $media-min-screen) {
      font-size: 33px;
    }
  }

  .infoTime {
    font-size: 20px;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 5px;

    @media (min-width: $media-min-screen) {
      flex-flow: column nowrap;
      font-size: 30px;
      margin-top: 0;
    }

    .percent {
      margin-left: 8px;

      @media (min-width: $media-min-screen) {
        margin-left: 0;
      }
    }
  }

  .percent {
    font-size: 20px;

    @media (min-width: $media-min-screen) {
      font-size: 58px;
      margin-top: -15px;
      margin-left: -30px;
    }
  }

  .price {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;

    @media (min-width: $media-min-screen) {
      font-size: 35px;
      margin-top: -15px;
    }

    .mark {
      font-size: 20px;
      color: #BB0000;

      @media (min-width: $media-min-screen) {
        font-size: 45px;
        margin-left: 10px;
      }
    }
  }
}

.buttonMint {
  background: url("/images/button-mint.png") no-repeat 100% 100% / cover;
  width: 200px;
  height: 90px;
  position: absolute;
  top: 105%;
  left: 15%;
  //transform: translateX(-50%);
  display: flex;
  cursor: pointer;

  @media (min-width: $media-min-screen) {
    width: 290px;
    height: 120px;
    left: 20%;
    top: 98%;
  }

  &:after {
    content: 'mint price: 0.02 eth';
    font-size: 20px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    text-transform: uppercase;

    @media (min-width: $media-min-screen) {
      font-size: 28px;
    }
  }

  .text {
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 10px;

    @media (min-width: $media-min-screen) {
      font-size: 34px;
      letter-spacing: 1px;
      font-family: 'Work Sans', sans-serif;
      font-weight: 700;
    }
  }
}
