@import "styles/variables";

.buttonMint {
    width: 225px;
    height: 90px;
    position: absolute;
    top: 105%;
    left: 7%;
    //transform: translateX(-50%);
    display: flex;
    //cursor: pointer;

   .wrapperButton {
       position: relative;
       cursor: pointer;
       z-index: 1000;
       width: 225px;
       height: 90px;
       background: url("/images/button-mint-4x.png") no-repeat 100% 100% / cover;
       svg {
           display: none;
       }

       @media (min-width: $media-min-screen) {
           width: auto;
           height: auto;
           background: none
       ;
           svg {
               display: block;
           }
       }
   }

    @media (min-width: $media-min-screen) {
        width: 290px;
        height: 120px;
        left: 20%;
        top: 98%;
    }

    &.disable {
        cursor: default;
        filter: grayscale(100%) brightness(2);
    }

    .price {
        font-size: 20px;
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        text-transform: uppercase;

        @media (min-width: $media-min-screen) {
            font-size: 28px;
        }
    }

    .text {
        margin: auto;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 10px;
        position: absolute;
        top: 47%;
        left: 52%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        text-align: center;

        @media (min-width: $media-min-screen) {
            top: 35%;
            left: 50%;
            font-size: 35px;
            letter-spacing: 1px;
            //font-family: 'Work Sans', sans-serif;
            font-weight: 400;
            font-family: 'Titan One', cursive;

        }
    }
}