.desktopWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.wrapperIntro {
  width: 1200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
//
//.wrapperRightContent {
//  overflow: scroll;
//  max-height: 100vh;
//}