@import "styles/variables";

.gallery {
  margin-top: 82px;
  width: 100%;
  display: flex;
  flex-flow: column;
  height: auto;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  @media (min-width: $media-min-screen) {
    margin-top: 80px;
  }
}

.wrapperPhotos {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: auto;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    //width: var(--gallery-width);
    width: 100%;
    //width: 6050px;
    height: 150px;
    background: rgba(217, 217, 217, 0.3);
  }

  &.mobileWrapperPhotos {
    margin-top: 40px;
  }
}

$negativeValueWidthGallery: calc(-1 * var(--gallery-width));
$negativeValueWidthMobileGallery: calc(-1 * var(--gallery-mobile-width));

@keyframes marquee {

  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    //transform: translate3d($negativeValueWidthGallery, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.photosBar {
  display: flex;
  flex-flow: row nowrap;
  //overflow: hidden;
  //width: 100%;
  position: relative;
  //transition: all 25s linear;
  //display: inline-block;
  //animation: marquee 70s linear infinite alternate;
  animation: marquee 70s linear infinite;
  width: auto;
  z-index: 1000;
  will-change: contents;

  //&:hover {
  //  animation-play-state: paused;
  //}

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    //width: var(--gallery-width);
    width: 100%;
    //width: 6050px;
    height: 150px;
    background: rgba(217, 217, 217, 0.3);
    z-index: -1;
  }
}

.photoBar {
  min-width: 243px;
  max-width: 243px;
  height: 243px;
  margin-right: 64px;

  .image {
    width: 100%;
    height: auto;
  }

  //&:first-child {
  //  margin-left: 64px;
  //}

  //&.mobile {
  //  &:first-child {
  //    margin-left: -64px;
  //  }
  //}
}

.mobilePhotosBar {
  animation: marquee 70s linear infinite reverse!important;
  margin-top: 40px;

  //&:after {
  //  width: var(--gallery-mobile-width);
  //}
}


.mobilePhotoBar {

}
