@import "styles/variables";
@import "styles/mixins";

.logo {
  display: flex;
  flex-flow: column;
  position: relative;
  align-items: center;
  width: 223px;
  margin: 0 auto;

  img {
    height: auto;
  }
}

.ai {
  font-size: 27px;
  text-align: center;
  line-height: 38px;
}

.status {
  display: none;

  @media (min-width: $media-min-screen) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -60%;

    .title {
      font-size: 27px;
    }
    .value {
      font-size: 28px;
      color: #FF0000;
      margin: 4px;
    }
  }
}


.logoImage {
  width: 223px;
  height: 223px;
  margin-top: 17px;
  border-radius: 92px;
}

.ethereum {
  margin-top: 10px;
}

.nftMinted {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 20px;

  .title {
    font-size: 27px;
  }

  @media (min-width: $media-min-screen) {
    margin-top: 0;
    position: absolute;
    top: 50%;
    right: -65%;
    transform: translateY(-50%);
    flex-flow: column nowrap;
  }

  .amount {
    font-size: 28px;
    margin-left: 10px;

    @media (min-width: $media-min-screen) {
      color: #FF1F00;
      @include stroke(#000, 1px);
    }
  }
}