@import 'styles/variables';

.speedometerPercents {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    //z-index: 2;

    span {
        font-size: 20px;
        position: absolute;

        @media (min-width: $media-min-screen) {
            font-size: 44px;
        }
    }

    .percent0 {
        top: 58%;
        left: 13%;

        @media (min-width: $media-min-screen) {
            top: 57%;
            left: 11%;
        }
    }

    .percent5 {
        top: 35%;
        left: 20%;

        @media (min-width: $media-min-screen) {
            top: 34%;
            left: 17%;
        }
    }

    .percent10 {
        top: 25%;
        left: 42%;

        @media (min-width: $media-min-screen) {
            top: 25%;
            left: 37.5%;
        }
    }

    .percent15 {
        top: 35%;
        left: 67%;

        @media (min-width: $media-min-screen) {
            top: 35%;
            left: 60%;
        }
    }

    .percent20 {
        top: 58%;
        left: 78%;

        @media (min-width: $media-min-screen) {
            top: 57%;
            left: 67%;
        }
    }

    .plusInfinity {
        top: 81%;
        left: -2%;

        @media (min-width: $media-min-screen) {
            top: 80%;
            left: -1%;
        }
    }

    .minusInfinity {
        top: 110%;
        left: 102%;

        @media (min-width: $media-min-screen) {
            top: 105%;
            left: 91%;
        }
    }

}