@import "styles/variables";

.parts {
    width: 100%;
    height: 100%;
}

.part {
    position: absolute;
    //background: rgba(0, 44, 255, 0.2);
    width: 100%;
    height: 100%;

    .partBackground,
    .partBorder {
        @media (min-width: $media-min-screen) {
            width: auto !important;
        }
    }

    img {
        width: 100%;
    }
}

.part-0 {
    top: 61%;
    @media (min-width: $media-min-screen) {
        top: 60%;
    }

    .partBorder {
        width: 50px;
    }

    .partBackground {
        //img {
        //  transition: opacity .5s linear;
        //}
    }
}

.part-1 {
    top: 32%;

    @media (min-width: $media-min-screen) {
        top: 32.5%;
    }

    .partBackground {
        width: 120px;
        top: 3.5%;
        left: 1%;

        //img {
        //  transition: opacity 1s linear;
        //}
    }

    .partBorder {
        width: 50px;
    }
}

.part-2 {
    top: 20%;
    left: 15%;

    @media (min-width: $media-min-screen) {
        top: 21%;
        left: 13.5%;
    }

    .partBackground {
        top: 3.5%;
        left: 4.3%;
        width: 75px;

        //img {
        //  transition: opacity 1.5s linear;
        //}
    }

    .partBorder {
        width: 85px;
    }
}

.part-3 {
    top: 20%;
    left: 50%;

    @media (min-width: $media-min-screen) {
        top: 21%;
        left: 44.8%;
    }

    .partBackground {
        top: 3.6%;
        left: 0.3%;
        width: 75px;

        //img {
        //  transition: opacity 2s linear;
        //}
    }

    .partBorder {
        width: 88px;
    }
}

.part-4 {
    top: 32.5%;
    left: 76.5%;

    @media (min-width: $media-min-screen) {
        top: 32.7%;
        left: 71%;
    }

    .partBackground {
        top: 3.1%;
        left: -24.4%;
        width: 114px;

        //img {
        //  transition: opacity 2.5s linear;
        //}
    }

    .partBorder {
        width: 50px;
        left: 3.5%;
        @media (min-width: $media-min-screen) {
            width: auto;
            left: 0;
        }

    }
}

.elementPart {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
}



.partBackground,
.partBorder {
    z-index: 1;

    .imageBorderActive,
    .imageBackgroundInactive {
        transform: translateY(-100%);
    }

    img {
        opacity: 0;
        display: flex;
        transition: opacity 1s linear;

        &.active {
            opacity: 1;
        }
    }
}

.partBorder {
    z-index: 2;
}