@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import "variables";

// font-family: 'Work Sans', sans-serif;
// font-family: 'Annie Use Your Telescope', cursive;
// font-family: 'Titan One', cursive;

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Annie Use Your Telescope', cursive;
    color: #fff;
}

.background-animation {
    position: absolute;
    top: 0;
    left: 0;
    height: 1000px;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    &.prod {
        display: flex;
        width: 100vw;
        min-width: 100vw;
        min-height: 100vh;
        height: 100vh;

        canvas {
            width: 100vw !important;
            height: 100vh !important;
        }

        .socialLinks {
            display: flex;
            align-items: center;
            width: 200px;
            justify-content: space-around;
        }

        .loading {
            background: none;
        }
    }
}

.loading {
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10000;
    color: white;
    flex-flow: column nowrap;

    .socialLinks {
        margin-top: auto;
        //margin-bottom: 65px;
        padding-bottom: 60px;
    }

    @media (min-width: $media-min-screen) {
        justify-content: center;
    }

    .dancer {
        margin-top: 150px;

        @media (min-width: $media-min-screen) {
            //margin-top: 0;
            margin-top: 15%;
        }
    }

    .loader {
        display: flex;
        position: relative;
        margin-top: 20px;
    }

    .text {
        font-size: 50px;
        z-index: 10;
    }

    .effect {
        z-index: 9;
        width: 80px;
        height: auto;
        position: absolute;
        bottom: -38px;
        right: -45px;
    }
}

.content-app {
    background: #000;
    width: 100%;
    //min-height: 300vh;
    height: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
    overflow: hidden;
    z-index: 10;

    canvas {
        z-index: -1 !important;
        height: 2404px !important;

        @media (min-width: $media-min-screen) {
            height: 1054px !important;
        }
    }

    //& * {
    //  z-index: 100;
    //}

    &:after,
    &:before {
        z-index: 0;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        //height: 734px;
        height: 734px;
    }

    &:after {
        background: linear-gradient(198deg, rgba(141, 0, 0, 1) 20%, rgba(141, 0, 0, 0) 60%);
        opacity: .2;
    }

    &:before {
        background: linear-gradient(162deg, rgba(143, 0, 0, 1) 5%, rgba(1, 0, 0, 0) 60%);
        opacity: .7;
    }
}

.background {


    &-element {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    &-status {
        display: none;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;

        .title {
            font-size: 24px;
        }

        .status {
            font-size: 28px;
            margin-top: -7px;
        }

        @media (min-width: $media-min-screen) {
            display: flex;
        }
    }

    &-dancer {
        display: none;
        opacity: .2;
        border-radius: 92px;
        width: 197px;
        height: 219px;
        top: 720px;
        left: -40px;

        @media (min-width: $media-min-screen) {
            display: inline-block;
        }
    }

    &-statistic {
        opacity: .30;

        @media (min-width: $media-min-screen) {
            opacity: .8;
        }
    }
}


*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gallery-width: 100%;
    --gallery-mobile-width: 100%;
}