@import "styles/variables";

.socialLinks {
  display: none;

  @media (min-width: $media-min-screen) {
    display: flex;
    width: 170px;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
}

.socialLink {
  cursor: pointer;

  img {
    height: auto;
    width: 43px;
  }

  //&:nth-child(1) {
  //  img {
  //    width: 42px;
  //  }
  //}
  //
  //&:nth-child(2) {
  //  img {
  //    width: 42px;
  //  }
  //}
  //
  //&:nth-child(3) {
  //  img {
  //    width: 42px;
  //  }
  //}
}