@import "styles/variables";

.socialLinks {
  display: none;

  @media (min-width: $media-min-screen) {
    display: flex;
    width: 170px;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
}

.socialLinks {
  cursor: pointer;
}